@mixin cardCSS {
	background-size: cover;
	transform: rotateY(180deg);
	transition: 0.6s;
	transform-style: preserve-3d;
}

* {
	margin: 0;
}

.wrapper {
	position: relative;
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	background:url(../img/bg6.jpg) no-repeat;
	background-size: cover;
	perspective: 1000;

	.res {
		position: absolute;
		font-size: 42px;
		color: #B8B8B8;
		text-transform: uppercase;
		right: 1%;
		bottom: 1%;
		cursor: pointer;
	}

	.hide {
		display: none;
	}
	
	.burg {
		cursor: pointer;
		float: left;
		margin: 4px;
		display: inline-block;

		.bar1, .bar2, .bar3 {
			width: 20px;
			height: 2px;
			margin: 6px 0;
			background: #fff;
			transition: 0.4s;
		}

		.bar1.change  {
    		-webkit-transform: rotate(-45deg) translate(-5px, 5px);
    		transform: rotate(-45deg) translate(-5px, 5px);
		}

		.bar2.change {
    		opacity: 0;
		}

		.bar3.change {
    		-webkit-transform: rotate(45deg) translate(-5px, -6px);
    		transform: rotate(45deg) translate(-6px, -6px);
		}
	}

	.cards {
		transform: rotateY(180deg);
		perspective: 1000;
		display: flex;
		position: relative;
		top: calc(50% - 150px);
	}

	.playerLength {
		position: absolute;
		right: 2%;
		top: 3%;
		float: right;
		display: flex;

		.help {
			font-size: 25px;
			color: #fff;
			margin: 5px;
			margin-left: 20px;
			cursor: default;
			opacity: 0.3;
		}
	}

	.player {
		font-size: 25px;
		color: #fff;
		margin: 5px;
		justify-content: space-between;
		cursor: pointer;
		
	}

	.player:hover {
		color: #5E68C9;
	}
}

.card {
	justify-content: space-between;
	position: relative;
	margin: auto;
	width: 180px;
	height: 260px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5%;
}

.shirt {
	background: url(../img/shirt.jpg) no-repeat;
	background-size: cover;
}

.c1 {
	background: url(../img/1.jpg) no-repeat;
	@include cardCSS;
}

.c2 {
	background: url(../img/2.jpg) no-repeat;
	@include cardCSS;
}

.c3 {
	background: url(../img/3.jpg) no-repeat;
	@include cardCSS;
}

.c4 {
	background: url(../img/4.jpg) no-repeat;
	@include cardCSS;
}

.c5 {
	background: url(../img/5.jpg) no-repeat;
	@include cardCSS;
}

.c6 {
	background: url(../img/6.jpg) no-repeat;
	@include cardCSS;
}

.c7 {
	background: url(../img/7.jpg) no-repeat;
	@include cardCSS;
}

.c8 {
	background: url(../img/8.jpg) no-repeat;
	@include cardCSS;
}

.c9 {
	background: url(../img/9.jpg) no-repeat;
	@include cardCSS;
}

.c10 {
	background: url(../img/10.jpg) no-repeat;
	@include cardCSS;
}

.c11 {
	background: url(../img/11.jpg) no-repeat;
	@include cardCSS;
}

.c12 {
	background: url(../img/12.jpg) no-repeat;
	@include cardCSS;
}

.c13 {
	background: url(../img/13.jpg) no-repeat;
	@include cardCSS;
}

.bgGroup {
	position: relative;
	bottom: 7%;
	left: 1%;
}

@mixin bg {
	width: 100px;
	height: 50px;
	border: 1px solid #c3c3c3;
	background-size: cover;
	border-bottom: none;
}

.bg1 {
	background: url(../img/bg1.jpg) no-repeat;
	@include bg;
}
.bg2 {
	background: url(../img/bg2.jpg) no-repeat;
	@include bg;
}
.bg3 {
	background: url(../img/bg3.jpg) no-repeat;
	@include bg;
}
.bg4 {
	background: url(../img/bg4.jpg) no-repeat;
	@include bg;
}
.bg5 {
	background: url(../img/bg5.jpg) no-repeat;
	@include bg;
}
.bg6 {
	background: url(../img/bg6.jpg) no-repeat;
	@include bg;
	border-bottom: 1px solid #c3c3c3;
}

.bgBurg {
	cursor: pointer;
	display: block;
	position: absolute;
	bottom: 2%;
	left:3.5%;


	.bar1, .bar2, .bar3 {
		width: 50px;
		height: 4px;
		margin: 8px 0;
		background: #fff;
		transition: 0.4s;
	}

	.bar1.change  {
    	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
    	transform: rotate(-45deg) translate(-5px, 5px);
	}

	.bar2.change {
    	opacity: 0;
	}

	.bar3.change {
    	-webkit-transform: rotate(45deg) translate(-5px, -6px);
    	transform: rotate(45deg) translate(-11px, -11px);
	}
}